                            .smart-scroll{
                                  position: fixed;
                                  bottom: 0;
                                  right: 0;
                                  left: 0;
                                  z-index: 1030;
                                }
                                .scrolled-down{
                                   transform:translateY(100%); transition: all 0.3s ease-in-out;
                                }
                                .scrolled-up{
                                   transform:translateY(0); transition: all 0.3s ease-in-out;
                                }
                            .text {
                                color: black;
                            }
                            
                            .register {
                                float: right;
                            }
                            
                            .login {
                                float: right;
                            }
                            
                            .navbar-middle {
                                padding-left: 120px;
                            }
                            
                            .font-change {
                                position: relative;
                                float: left;
                                width: 100px;
                                height: 100px;
                                background-position: 50% 50%;
                                background-repeat: no-repeat;
                                background-size: cover;
                            }
                            
                            .logo-container .logo1 {
                                /* overflow: hidden; */
                                border-radius: 25%;
                                height: 100px;
                                border: 1px solid #333333;
                                width: 100px;
                                /* float: left; */
                            }
                            
                            .head {
                                text-align: center;
                                text-shadow: 0px 2px 3px #555;
                            }
                            
                            .img-holder {
                                border-width: 2pc;
                                border: 1px solid #333333;
                                overflow: hidden;
                            }
                            
                            .flipper1:hover {
                                background-color: #4d4544;
                            }
                            
                            .flipper2:hover {
                                background-color: #8a534d;
                            }
                            
                            .flipper3:hover {
                                background-color: #4d4544;
                            }
                            /* Fading animation */
                            
                            .fade {
                                -webkit-animation-name: fade;
                                -webkit-animation-duration: 1.5s;
                                animation-name: fade;
                                animation-duration: 1.5s;
                            }
                            
                            @-webkit-keyframes fade {
                                from {
                                    opacity: .4
                                }
                                to {
                                    opacity: 1
                                }
                            }
                            
                            @keyframes fade {
                                from {
                                    opacity: .4
                                }
                                to {
                                    opacity: 1
                                }
                            }
                            /* On smaller screens, decrease text size */
                            
                            @media only screen and (max-width: 300px) {
                                .text {
                                    font-size: 11px
                                }
                            }
                            /* sidebar */
                            
                            .sidenav {
                                list-style-type: none;
                                /* margin: 5px; */
                                padding-top: 5px;
                                padding-bottom: 10px;
                                /* overflow: hidden; */
                                /* background-color: #333; */
                                position: fixed;
                                bottom: 10px;
                                width: auto;
                            }
                            
                            #mySidenav a {
                                color: white;
                                text-align: center;
                                padding: 14px 16px;
                                text-decoration: none;
                            }
                            
                            #mySidenav a:hover {
                                left: 0;
                            }
                            
                            #about {
                                border-radius: 25%;
                                margin-right: 15px;
                                background-color: #4CAF50;
                            }
                            
                            #partners {
                                border-radius: 25%;
                                margin-right: 15px;
                                background-color: rgb(170, 145, 63);
                            }
                            
                            #blog {
                                border-radius: 25%;
                                margin-right: 15px;
                                background-color: #2196F3;
                            }
                            
                            #projects {
                                border-radius: 25%;
                                margin-right: 15px;
                                background-color: #f44336;
                            }
                            
                            #comments {
                                border-radius: 25%;
                                margin-right: 15px;
                                background-color: orange;
                            }
                            
                            #outline {
                                border-radius: 25%;
                                margin-right: 15px;
                                background-color: purple;
                            }
                            
                            #contact {
                                border-radius: 25%;
                                margin-right: 15px;
                                background-color: #555
                            }
                            
                            #questions {
                                border-radius: 25%;
                                margin-right: 15px;
                                background-color: black
                            }
                            
                            .reach {
                                background-image: url("/assets/img/img/backmountain.jpg");
                                /* background-size: cover; */
                            }
                            /* dropcap */
                            
                            .firstcharacter {
                                color: black;
                                float: left;
                                font-size: 75px;
                                padding-top: 4px;
                                padding-right: 8px;
                                padding-left: 3px;
                            }
                            /* accordion */
                            
                            .accordion {
                                background-color: #eee;
                                color: #444;
                                cursor: pointer;
                                padding: 18px;
                                width: 100%;
                                border: none;
                                text-align: left;
                                outline: none;
                                font-size: 15px;
                                transition: 0.4s;
                            }
                            
                            .active,
                            .accordion:hover {
                                background-color: #ccc;
                            }
                            
                            .panel {
                                padding: 0 18px;
                                display: none;
                                background-color: white;
                                overflow: hidden;
                            }
                            /* carousel */
                            
                            .pull-down {
                                margin-top: 25%;
                                float: left;
                                display: flex-box;
                                margin-right: 10px;
                            }
                            /* float top */
                            
                            .make-float {
                                float: left;
                                display: flexbox;
                            }
                            
                            #FAQ {
                                padding-top: 60px;
                            }
                            
                            #info {
                                color: black;
                            }
                            
                            .social {
                                margin-right: 10px;
                            }
                            
                            #show1 {
                                display: none;
                                color: white;
                            }
                            
                            #show2 {
                                display: none;
                                color: white;
                            }
                            
                            #show3 {
                                display: none;
                                color: white;
                            }
                            
                            #show4 {
                                display: none;
                                color: white;
                            }
                            
                            #show5 {
                                display: none;
                                color: white;
                            }
                            
                            #show6 {
                                display: none;
                                color: white;
                            }
                            
                            #show7 {
                                display: none;
                                color: white;
                            }
                            
                            #show8 {
                                display: none;
                                color: white;
                            }
                            
                            #show9 {
                                display: none;
                                color: white;
                            }
                            
                            #show10 {
                                display: none;
                                color: white;
                            }
                            
                            #show11 {
                                display: none;
                                color: white;
                            }
                            
                            #show12 {
                                display: none;
                                color: white;
                            }
                            
                            #show13 {
                                display: none;
                                color: white;
                            }
                            
                            .nav-item {
                                animation: mymove 5s infinite;
                                margin: 10px;
                                text-align: center;
                            }
                            /* IPAD */
                            
                            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                                .hidden-xs {
                                    display: none;
                                }
                                .log {
                                    width: auto;
                                }
                            }
                            /* photo */
                            
                            .img-small {
                                float: left;
                                margin-left: 50px;
                            }
                            
                            #ppra {
                                margin-left: 50px;
                            }
                            
                            #equity {
                                margin-top: -30px;
                                margin-left: 10px;
                            }
                            
                            #kicd {
                                margin-top: -40px;
                                margin-left: 10px;
                            }
                            
                            .img-modifier {
                                width: 10px;
                                height: 20px;
                                margin-right: 200%;
                            }
                            
                            #p1 {
                                padding-left: 20px;
                            }
                            
                            #p2 {
                                top: -20px;
                                padding-left: 20px;
                            }
                            
                            #p3 {
                                top: -40px;
                            }
                            
                            #p4 {
                                top: -40px;
                            }
                            
                            .push-up-img {
                                padding-top: -50px;
                            }
                            /* border */
                            
                            .border {
                                border-width: 2px;
                                border-style: dotted;
                                padding: 2px;
                            }
                            /* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
                            
                            @media (min-width: 320px) and (max-width: 480px) {
                                .no-show {
                                    display: none;
                                }
                                #equity {
                                    margin-top: 0px;
                                    text-align: center;
                                    margin-bottom: 20px;
                                }
                                #kicd {
                                    margin-top: -40px;
                                    margin-left: 10px;
                                }
                                #p1 {
                                    padding: 10px;
                                }
                                #p2 {
                                    padding: 10px;
                                }
                                /* TO BE REMOVED IN ACTUALLISATION */
                                #p3 {
                                    display: none;
                                    /* }UPTO HERE */
                                }
                                @media (min-width: 481px) and (max-width: 768px) {
                                    .no-show {
                                        display: none;
                                    }
                                    #equity {
                                        margin-top: 0px;
                                        text-align: center;
                                        margin-bottom: 20px;
                                    }
                                    #kicd {
                                        margin-top: 0px;
                                        text-align: center;
                                        margin-left: 250px;
                                    }
                                    #p1 {
                                        padding: 10px;
                                    }
                                    #p2 {
                                        padding: 10px;
                                    }
                                    /* TO BE REMOVED IN ACTUALLISATION */
                                    #p3 {
                                        display: none;
                                        /* }UPTO HERE */
                                    }
                                }
